<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <h2>Admin Login</h2>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label for="employee_number">Employee Number:</label>
        <input type="text" name="employee_number" id="employee_number" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'admin_register' %}">Register here</a></p>

    <a href="{% url 'login' %}">Student login</a> <br>

<a href="">Forgot password?</a>
</body>
</html>
